html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;

  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: rgb(250, 250, 250);
}

#root {
  width: 100%;
}
